
body {
  font-family: Arial, sans-serif;
  background-color: #ececec;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.title {
  text-align: center;
  font-size: 1.5em;
  color: #3d3333;
  margin-bottom: 20px;
}

.label {
  font-size: 1rem;
  color: #555;
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
}


.message {
  text-align: center;
  color: #f96f6f;
  margin-top: 10px;
}