@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.button {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

.account {
  position: absolute;
  left: 460px;
  top: 465px;
}

.admin {
  font: bold 11px Arial;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  position: absolute;
  left: 1375px;
  top: 25px;
}

.confirm {
  position: absolute;
  left: 460px;
  top: 465px;
}

.create {
  font: bold 11px Arial;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  position: absolute;
  left: 565px;
  top: 500px;
}

.enter {
  font: bold 11px Arial;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  position: absolute;
  left: 275px;
  top: -3px;
}

.handleConfirm {
  font: bold 11px Arial;
  color: #f9f9f9;
  padding: 2px 6px 2px 6px;
  position: absolute;
  left: 460px;
  top: 500px;
}

.handleSearch {
  font: bold 11px Arial;
  color: #f9f9f9;
  padding: 2px 6px 2px 6px;
  position: absolute;
  left: 460px;
  top: 300px;
}

.manager {
  font: bold 11px Arial;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  position: absolute;
  left: 1375px;
  top: 60px;
}

.search {
  font: bold 11px Arial;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  position: absolute;
  left: 80px;
  top: 60px;
}